@page "/transistors"
@using ComponentManager.Shared
@using System.Text.Json
@using System.Text
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager
@inject HttpClient Http

<PageTitle>Transistors</PageTitle>

<Part Title="Transistors"
      Paging=TransistorList
      OnPageRequested="(a)=>RequestPage(a)"> 
    



    
@if (TransistorList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TransistorList.Data)
            {
                <tr>
                    <td>@item</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}








</Part>



@code {

    private PagingInfo<string> TransistorList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var queryParams = new Dictionary<string, string>
        {
            ["page"] = "1",
            ["size"] = "10"
        };
        var uri = QueryHelpers.AddQueryString("Transistor", queryParams);
        TransistorList = await Http.GetFromJsonAsync<PagingInfo<string>>(uri);

    }


    protected async Task RequestPage(int page)
    {
        var queryParams = new Dictionary<string, string>
        {
            ["page"] = page.ToString(),
            ["size"] = TransistorList.PageSize.ToString()
        };
        var uri = QueryHelpers.AddQueryString("Transistor", queryParams);
        TransistorList = await Http.GetFromJsonAsync<PagingInfo<string>>(uri);
    }


}

