@page "/transistors"
@using ComponentManager.Shared
@inject HttpClient Http

<PageTitle>Transistors</PageTitle>

<Part Uri="Transistor"
      Title="Transistors"
      Paging="PagingInfo"
      Items="Items"
      OnLoad=LoadData>
    
    <TableHeader Context="table">
        <th @onclick='()=>table.Sort("Name")'>Name</th>
        <th @onclick='()=>table.Sort("UMax")'>U<sub>max</sub></th>
    </TableHeader>

    <RowTemplate Context="tor">
        <td>@tor.Name</td>
        <td>@tor.UMax</td>
    </RowTemplate>

    <EditTemplate>


    </EditTemplate>
</Part>



@code {
    private PagingInfo PagingInfo { get; set; }
    private Transistor[] Items { get; set; }


    protected async Task LoadData(string uri)
    {
        var response = await Http.GetFromJsonAsync<PagingInfo<Transistor>>(uri);
        PagingInfo = response;
        Items = response.Data;
    }
}

