@page "/transistors"
@using ComponentManager.Shared
@inject HttpClient Http

<PageTitle>Transistors</PageTitle>

<Part Uri="Transistor"
      Title="Transistors"
      Paging="PagingInfo"
      Items="Items"
      OnLoad=LoadData>
    
    <TableHeader>
        <th>Name</th>
        <th>U<sub>max</sub></th>
    </TableHeader>

    <RowTemplate>
        <td>@context.Name</td>
        <td>@context.UMax</td>
    </RowTemplate>

</Part>



@code {
    private PagingInfo PagingInfo { get; set; }
    private Transistor[] Items { get; set; }


    protected async Task LoadData(string uri)
    {
        var response = await Http.GetFromJsonAsync<PagingInfo<Transistor>>(uri);
        PagingInfo = response;
        Items = response.Data;
    }
}

