@page "/transistors"
@using ComponentManager.Shared
@inject HttpClient Http
@inherits BasicTable

<PageTitle>Transistors</PageTitle>

<Part Title="Transistors"
      Paging=TransistorList
      Search=Search
      SearchChanged=Search
      OnPageRequested=RequestPage
      OnPageSizeRequested=RequestPageSize>
    

@if (TransistorList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th @onclick='()=>Sort("Name")'>Name</th>
                <th @onclick='()=>Sort("UMax")'>U<sub>max</sub></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TransistorList.Data)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.UMax V</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

</Part>



@code {

    private PagingInfo<Transistor>? TransistorList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    protected async override Task LoadData()
    {
        var uri = await GetUri("Transistor");
        TransistorList = await Http.GetFromJsonAsync<PagingInfo<Transistor>>(uri);
    }


}

