@using ComponentManager.Shared
@typeparam TItem


<div class="form-group">
    <div class="row mb-3">
        <div class="col-sm-3">
            <h6 class="mb-0 control-label">@Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <input class="form-control" @bind="Item" />
        </div>
    </div>
</div>




@code {
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public TItem? Item { get; set; }
}


