@using ComponentManager.Shared


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" aria-label="Previous" @onclick="()=>RequestPage(PagingInfo.CurrentPage-1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @for(int i=0; i<count; i++)
        {
            var pageNo = i + first;
            var pageText = pageNo + 1;
            @if(pageNo == PagingInfo.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" @onclick="()=>RequestPage(pageNo)">@pageText.ToString()</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" @onclick="()=>RequestPage(pageNo)">@pageText.ToString()</a></li>
            }
        }

        <li class="page-item">
            <a class="page-link" aria-label="Next" @onclick="()=>RequestPage(PagingInfo.CurrentPage+1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

        <select class="form-select" @onchange="(e)=>RequestPageSize(int.Parse(e.Value.ToString()))">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </ul>

    
</nav>



@code {
    [Parameter]
    public PagingInfo PagingInfo { get; set; }

    [Parameter]
    public int MaxPages { get; set; } = 5;

    [Parameter]
    public EventCallback<int> OnPageRequested { get; set; }

    [Parameter]
    public EventCallback<int> OnPageSizeRequested { get; set; }

    private int first = 0;
    private int count = 5;

    protected override void OnParametersSet()
    {
        if(PagingInfo == null)
            PagingInfo =  new PagingInfo { CurrentPage = 0, PageSize = 5, TotalPages = 0 };
        first = PagingInfo.CurrentPage - MaxPages/2;
        count = Math.Min(MaxPages, PagingInfo.TotalPages);

        if (first < 0)
            first = 0;

        if (first + count > PagingInfo.TotalPages)
            first = PagingInfo.TotalPages - count;
    }

    protected async Task RequestPage(int page)
    {
        await OnPageRequested.InvokeAsync(page);
    }

    protected async Task RequestPageSize(int size)
    {
        await OnPageSizeRequested.InvokeAsync(size);
    }
}


