

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" aria-label="Previous" @onclick="()=>RequestPage(CurrentPage-1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @for(int i=first; i<last; i++)
        {
            @if(i == CurrentPage)
            {
                <li class="page-item active"><a class="page-link" @onclick="()=>RequestPage(i)">@i.ToString()</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" @onclick="()=>RequestPage(i)">@i.ToString()</a></li>
            }
        }

        <li class="page-item">
            <a class="page-link" aria-label="Next" @onclick="()=>RequestPage(CurrentPage+1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>



@code {
    [Parameter]
    public int CurrentPage { get; set; } = 1;

    [Parameter]
    public int PageCount { get; set; } = 10;

    [Parameter]
    public int MaxPages { get; set; } = 5;

    [Parameter]
    public EventCallback<int> OnPageRequested { get; set; }


    private int first = 1;
    private int last = 1;

    protected override void OnInitialized()
    {
        first = CurrentPage - MaxPages/2;
        if (first < 1)
            first = 1;
        last = first + MaxPages;
    }

    protected async Task RequestPage(int page)
    {
        await OnPageRequested.InvokeAsync(page);
    }

}


