@using ComponentManager.Shared
@using Microsoft.AspNetCore.WebUtilities
@using System.Diagnostics.CodeAnalysis
@typeparam TItem

<div class ="row">
    <div class="col">
        <input class="form-control justify-content-end search" type="text"  placeholder="Search" aria-label="Search" aria-describedby="Search"  @oninput="(a)=>Search(a.Value.ToString())"/>
    </div> 
    <div class="col">
        
    </div> 
    <div class="col">
        
    </div> 
</div>

<div class ="row">
    <div class="container">
        <table class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>@TableHeader(this)</tr>
            </thead>
            <tbody>
                @if(Items == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    @foreach (var item in Items)
                    {
                        if (RowTemplate is not null)
                        {
                            <tr>@RowTemplate(item)</tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div class ="row">
    <div class="col">

        <Modal @ref="Modal">
            <div class="modal-header">
                @if(EditItem != null)
                {
                    @EditItem.ToString();
                }
            </div>
            <div class="modal-body">
                @if(EditTemplate != null && EditItem != null)
                {
                    @EditTemplate(EditItem);
                }
                
            </div>
            <div class="modal-footer">
                <p align="left"><button type="button" class="btn btn-danger" @onclick="() => EditModalDelete()">Delete</button></p>
                <button type="button" class="btn btn-secondary" @onclick="() => EditModalCancel()">Close</button>
                <button type="button" class="btn btn-primary" @onclick="() => EditModalSave()">Save changes</button>
            </div>
        </Modal>
        <button type="button" class="btn btn-light" @onclick="() => CreateComponent()">Open Modal</button>
    </div> 
    <div class="col">
        
    </div> 
    <div class="col">
        <Paging PagingInfo=Paging
                OnPageRequested=RequestPage
                OnPageSizeRequested=RequestPageSize/>
    </div> 
</div>



@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Uri { get; set; }

    [Parameter]
    public PagingInfo? Paging { get; set; }

    [Parameter]
    public EventCallback<string> OnLoad { get; set; }

    [Parameter]
    public RenderFragment<Part<TItem>>? TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter]
    public RenderFragment<TItem>? EditTemplate { get; set; }

    [Parameter, AllowNull]
    public IReadOnlyList<TItem> Items { get; set; }

    [Parameter]
    public EventCallback<TItem> OnSaveItem { get; set; }

    [Parameter]
    public EventCallback<TItem> OnDeleteItem { get; set; }



    private TItem EditItem { get; set; } 
    private Modal Modal { get; set; }
    private string search   = "";
    private int page        = 0;
    private int size        = 10;
    private string sort     = "";
    private bool desc       = false;


    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    public async Task Sort(string value)  
    {
        if (sort == value)
            desc = !desc;
        sort = value;
        page = 0;
        await LoadData();
    }

    private async Task RequestPage(int page)
    {
        this.page = page;
        await LoadData();
    }

    private async Task Search(string value)  
    {
        search = value;
        page = 0;
        await LoadData();
    }

    private async Task RequestPageSize(int size)
    {
        this.size = size;
        await LoadData();
    }

    private async Task<string> GetUri()
    {
        var queryParams = new Dictionary<string, string>
        {
            ["page"] = page.ToString(),
            ["size"] = size.ToString(),
            ["sort"] = sort.ToString(),
            ["desc"] = desc.ToString(),
            ["filter"] = search
        };
        return QueryHelpers.AddQueryString(Uri, queryParams);
    }


    private async Task LoadData()
    {
        await OnLoad.InvokeAsync(await GetUri());
    }

    private async Task CreateComponent()
    {
        EditItem = Activator.CreateInstance<TItem>();
        Modal.Open();
    }

    public void EditComponent(TItem item)
    {
        EditItem = item;
        Modal.Open();
    }

    private async Task EditModalSave()
    {
        await OnSaveItem.InvokeAsync(EditItem);
        Modal.Close();
        await LoadData();
    }

    private void EditModalCancel()
    {
        Modal.Close();
    }

    private async Task EditModalDelete()
    {
        await OnDeleteItem.InvokeAsync(EditItem);
        Modal.Close();
        await LoadData();
    }
}


